.gwt-TextBox {
  border: 1px solid #000000;
}
.gwt-SuggestBox {
  border: 1px solid #000000;
}
.gwt-ListBox {
  border: 1px solid #000000;
}
.gwt-Button-station {
  margin: 0px;
  padding: 1px 4px;
  font-size: smaller;
}
.gwt-FlexTable td {
  border: 1px solid #BBBBBB;
  padding: 3px;
}